@media screen and (min-width: 1200px) {
    .show-ipad,
    .show-ipad-mobile,
    .show-mobile {
        display: none !important;
    }
    .show-desktop,
    .show-desktop-ipad,
    .show-desktop-mobile {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .show-mobile {
        display: none !important;
    }
    .show-ipad,
    .show-ipad-mobile {
        display: block;
    }
    .show-desktop,
    .show-desktop-mobile {
        display: none !important;
    }
    .show-desktop-ipad {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .show-mobile {
        display: block;
    }
    .show-desktop,
    .show-desktop-ipad,
    .show-ipad {
        display: none !important;
    }
    .show-desktop-mobile,
    .show-ipad-mobile {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .close-info-modal {
        position: absolute;
        left: 50%;
        bottom: -50px;
    }
    .index_page .city {
        position: absolute;
        width: 100%;
        transform: none;
        left: 0;
        top: 170px;
        margin-left: 0;
    }
    .city .city-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .index_page .city .text_block {
        transform: none;
        position: relative;
        margin: 0;
        left: initial;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .index_page .city .text_block .city_img {
        width: 100%;
        overflow: hidden;
        position: relative;
        left: initial;
        height: 100%;
    }
    .index_page .city .text_block .left {
        width: 50%;
        height: 100%;
        display: block;
    }
    .index_page .city .text_block .right {
        width: 50%;
        height: 100%;
        padding: 0 10px;
        display: block;
    }
    .index_page .city .info_block {
        position: relative;
        margin: 0;
        transform: none;
        padding: 20px;
        left: inherit;
    }
    .index_page .city .info_block>div {
        transform: none!important;
        width: 100%;
    }
    .index_page .city .info_block .characteristics {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .index_page .city .info_block .characteristics > div:nth-child(1) {
        transform: none!important;
        width: auto;
    }
    .index_page .city .info_block>div.characteristics .skew-text {
        transform: none!important;
    }
    .index_page .city .info_block .characteristics > div .scores {
        transform: none!important;
    }
    .index_page .city .text {
        transform: none!important;
    }
    .index_page .city .info_block>div.characteristics>div {
        transform: none!important;
    }
    .index_page .city .text_block .wrap {
        transform: none!important;
    }
    .index_page .city .text_block .city-title {
        transform: none;
    }
    .index_page .city .text_block .show_on_map a {
        transform: none;
    }
    .index_page .city .text_block .city_img > * {
        transform: none;
    }
    .index_page .city .info_block .peoples {
        float: none;
        padding-right: 0;
        padding-bottom: 0;
        font-size: inherit;
        padding: 0;
        text-align: center;
    }
    header .main_menu a.active,
    header .main_menu span.active {
        border-bottom: 2px solid #FDE64C;
    }
    body,
    html {
        height: auto;
        min-height: 100vh;
    }
    body {
        background: url(../img/bg.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 25px;
    }
    header .logo {
        float: none;
        margin: 0 auto 15px auto;
        width: 112px!important;
        height: 55px!important;
    }
    header .main_menu {
        line-height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: calc(90% - 20px);
        padding: 10px;
        margin: 0 auto 25px auto;
    }
    header .start {
        width: calc(95% - 20px);
        padding: 0 10px;
        margin: 20px auto 0 auto;
    }
    header .user {
        width: calc(95% - 20px);
        padding: 0 10px;
        margin: 15px auto 0 auto;
    }
    header .main_menu a {
        margin: 0;
    }
    .main_title {
        width: 90%;
        height: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .about_page .page_wrapper {
        max-width: initial;
        position: relative;
    }
    .about_page .page_wrapper .row {
        margin: 0;
    }
    .about_page .page_wrapper .row.text-center {
        margin: 0;
    }
    .row.text_center.main_top {
        margin: 0;
    }
    .about_page .start-block {
        display: none;
    }
    .row.main_screen {
        margin: 0;
        width: 100%;
    }
    .about_page .about_tire {
        width: 100%;
        height: 170px;
        display: block;
        position: relative;
        top: 0;
        right: 0;
        background-size: contain;
        background-position: center;
    }
    .about_page ._250_contacts {
        width: 100%;
        height: 202px;
        background-position: left center;
        display: block;
        background-repeat: no-repeat;
    }
    .about_page .text {
        transform: none;
        padding: 0 20px;
    }
    .about_page .text h1 {
        text-align: center;
        margin: 30px auto 25px auto;
        transform: none;
        font-size: 19px;
    }
    .about_page .text .like-p {
        margin-bottom: 15px;
        text-align: center;
    }
    .about_page .text .like-p div {
        transform: none;
        margin-bottom: 15px;
        font-size: 15px;
        display: inline;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .close-info-modal {
        position: absolute;
        left: 50%;
        bottom: -50px;
    }
    .index_page .city {
        position: absolute;
        width: 100%;
        transform: none;
        left: 0;
        top: 140px;
        margin-left: 0;
    }
    .city .city-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    .index_page .city .text_block {
        transform: none;
        position: relative;
        margin: 0;
        left: initial;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .index_page .city .text_block .city_img {
        width: 100%;
        overflow: hidden;
        position: relative;
        left: initial;
        height: 100%;
    }
    .index_page .city .text_block .left {
        width: 100%;
        height: 100%;
        display: block;
    }
    .index_page .city .text_block .right {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        display: block;
    }
    .index_page .city .info_block {
        position: relative;
        margin: 0;
        transform: none;
        padding: 20px;
        left: inherit;
    }
    .index_page .city .info_block>div {
        transform: none!important;
        width: 100%;
    }
    .index_page .city .info_block .characteristics {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .index_page .city .info_block .characteristics > div:nth-child(1) {
        transform: none!important;
        width: auto;
    }
    .index_page .city .info_block>div.characteristics .skew-text {
        transform: none!important;
    }
    .index_page .city .info_block .characteristics > div .scores {
        transform: none!important;
    }
    .index_page .city .text {
        transform: none!important;
    }
    .index_page .city .info_block>div.characteristics>div {
        transform: none!important;
    }
    .index_page .city .text_block .wrap {
        transform: none!important;
    }
    .index_page .city .text_block .city-title {
        transform: none;
        margin-top: 10px;
        font-size: 15px;
    }
    .index_page .city .text_block .show_on_map a {
        transform: none;
    }
    .index_page .city .text_block .city_img > * {
        transform: none;
    }
    .index_page .city .info_block .peoples {
        float: none;
        padding-right: 0;
        padding-bottom: 0;
        font-size: inherit;
        padding: 0;
        text-align: center;
    }
    body,
    html {
        height: auto;
        min-height: 100vh;
    }
    body {
        background: url(../img/bg.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header .main_menu a.active,
    header .main_menu span.active {
        border-bottom: 2px solid #FDE64C;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    header .logo {
        float: none;
        margin: 0 auto 15px auto;
    }
    header .main_menu {
        line-height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: calc(90% - 20px);
        padding: 10px;
        margin: 0 auto 25px auto;
    }
    header .start {
        width: calc(95% - 20px);
        padding: 0 10px;
        margin: 0 auto;
    }
    header .user {
        width: calc(95% - 20px);
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 15px;
    }
    header .main_menu a {
        margin: 0;
    }
    .main_title {
        width: 90%;
        height: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .about_page .page_wrapper {
        max-width: initial;
    }
    .about_page .page_wrapper .row {
        margin: 0;
    }
    .about_page .page_wrapper .row.text-center {
        margin: 0;
    }
    .row.text_center.main_top {
        margin: 0;
    }
    .about_page .text {
        transform: none;
    }
    .about_page .text .like-p {
        color: #1b4c94;
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 20px;
    }
    .about_page .text .like-p div {
        transform: none;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .about_page .start-block {
        display: none;
    }
    .row.main_screen {
        margin: 0;
        width: 100%;
    }
    .about_page .about_tire {
        width: 51%;
        height: 160px;
        position: relative;
        margin: -60px 0 0 auto;
        bottom: inherit;
        right: inherit;
        background-position: top right;
    }
    .about_page ._250_contacts {
        width: 100%;
        height: 210px;
        background-position: top right;
        margin: 0;
        background-repeat: no-repeat;
    }
    .about_page .text {
        padding: 0 20px;
    }
    .about_page h1 {
        transform: none;
        font-size: 19px;
    }
}